.tableContainer {
  margin-top: 20px;
}

.row {
  border-collapse: collapse;
  border-bottom: 1px solid black;
}

.col {
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImg {
  height: 50px;
  width: 50px;
}

.tableRow:nth-child(even) {
  background-color: rgb(246, 246, 246);
}

.tableRow:nth-child(odd) {
  background-color: white;
}

.row {
  border-collapse: collapse;
  border-bottom: white;
}
